header, footer {
    color: white;
    background-color: rgb(0, 76, 118);
    padding-left: 15px; padding-top: 5px; padding-bottom: 5px;
    border-radius: 5px;
    margin: auto;
    align-items: center;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(173, 176, 177, 0.2), 0 12px 15px 0 rgba(0, 0, 0, 0.19);  
  }
  
main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside, .followplan {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.followplan {
    width: 1000px;
}

.decimal *{
    padding-top: 10px;
}

section {
    width: 700px;
    display:flex; font-size: x-large; 
    flex-direction: column;
    justify-content: left;
    padding-left: 10px;
}

cite {
    font-size: large; 
}

  h1,h2,h3, h4, p, #dynamictable {
      font-family: "Ensign:Sans",Arial,"noto sans",sans-serif;
  }
  
  header h3, h4 { margin: 5px;}
  
  #myPlot, #dynamictable {
       width:100%;
      max-width:720px; 
      border: 5px solid lightgray;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 15px 0 rgba(0, 0, 0, 0.19);
      margin-left: 2%;
      margin-right: 2%;
      color: black;
  }
  
  table {
      width: 100%;
  }
    
  thead {
      background-color: rgb(0, 76, 118);
      color: #fff;
  }
  
  th, td {
      text-align: center;
      padding: 2px;
  }
  
  tr:nth-child(even) {
      background-color:rgb(147 197 253);
  }
  a:link, a:visited {
      font-size: 0.9rem;
      color: #fff;
  }
  a:link:active, a:visited:active {
      color: yellow;
  }
  
 @media only screen and (min-width: 420px) {
  
      #myPlot, #dynamictable {
          width:100%;
          max-width:700px;
      }
  
  } 